* {
    padding : 0;
    margin : 0;
    border : 0;
}

body{
    background-color: #000000;
    font-family: 'Arvo', serif;
}

img {
    display: block;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: inherit;
}

table {
    table-layout: fixed;
}

td {
    text-align: center;
    width: 25%;
}

svg {
    display: block;
    margin: auto;
}

#pageFooter {
    margin-top: 10px;
    float: left;
    clear: none;
    height: 200px;
    width: 100%;
}

#pageContent {
    margin-top: 10px;
    float: left;
    clear: none;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Reis';
    src: url(../fonts/REIS-Regular.ttf);
}

@font-face {
    font-family: 'SketchBlock';
    src: url(../fonts/Sketch_Block.ttf);
}

@font-face {
    font-family: 'FatStack';
    src: url(../fonts/fatstack.ttf);
}

@font-face {
    font-family: 'Dickie';
    src: url(../fonts/dickie.ttf);
}

@font-face {
    font-family: 'Yore';
    src: url(../fonts/yore.ttf);
}

@font-face {
    font-family: 'Ludicrous';
    src: url(../fonts/ludicrous.otf);
}

@font-face {
    font-family: 'Ailerons';
    src: url(../fonts/ailerons.otf);
}

@font-face {
    font-family: 'Arkhip';
    src: url(../fonts/arkhip.ttf);
}

@font-face {
    font-family: 'Bohema';
    src: url(../fonts/bohema.otf);
}

#header {
    text-align: center;
    float: left;
    clear: none;
    width: 100%;
}

#name {
    /*transform: rotate(-7deg);*/
    font-size: 500%;
    font-family: 'Ludicrous';
    padding-top: 30px;
    padding-bottom: 0px;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    font-weight: bold;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    display: block;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    padding-top: 13px;
}

li a:hover:not(.active) {
    border-bottom: 3px solid #F3E4B2;
}
